// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

ul.list-style-none {
    list-style: none;
    padding-left: 0;
}

.download-pdf {
    margin-left: 53% !important;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px #ccc;
    margin-top: -12px !important;
    position: absolute;
}

