<template>
    <BarChart/>
</template>

<script>
    import {onMounted, reactive} from 'vue';
    import useEstimates from '../../composables/estimates';
    import {ref, computed} from '@vue/reactivity';
    export default {
        setup() {
            console.log("Loading Dashboard");
            const dataValues = ref([
                [1,3,5,7,4,6],
                [1,5,7,3,8,9]
            ]);

            console.log("Bar Chart loading");
            const data = computed(() => ({
                labels: ["Sun", "Mon", "Tue", "Wed", "Thur", "Fri", "Sat"],

                    datasets: [
                        {
                            label: "Foo",
                            data: dataValues.value[0],
                            backgroundColor: "#269bd2"
                        },

                        {
                            label: "Bar",
                            data: dataValues.value[1],
                            backgroundColor: "#2aa198"
                        }
                    ]
            }
            ));

            const options = ref({
                plugins: {
                    title: {
                        text: "Bar"
                    }
                }
            });
        }
    }
</script>

<style scoped>

</style>
