<template>
<!--    <Invoices/>-->
</template>

<script>
import {onMounted, reactive} from 'vue';
import useEstimates from '../../composables/estimates';
import useInvoices from '../../composables/invoices';

import BarChartComponent from "./BarChartComponent";

import useDashboard from "../../composables/dashboard";
import {ref, computed} from '@vue/reactivity';

import Estimates from "../estimates/Estimates";
import Invoices from "../invoices/Invoices";

export default {
    components: {Invoices, BarChartComponent},
    setup() {
        const {cardsData, getDataCards} = useDashboard()
        onMounted(getDataCards);

        return {
            cardsData,
            getDataCards,
           // BarChartComponent,
            //myChart
        }
    }
}
</script>
<style>
.table {
    width: 74.5%;
}
</style>
