<script>
export default {
    name: "AddTaskTypeModal",
    props: ["openAddTaskTypesModal"],

    setup(props, {emit}){
        const close = () => {
            emit("close");
        };

        return {
            close
        };
    },
}
</script>

<template>
    <transition name="modal-animation">
        <div v-if="openAddTaskTypesModal">
            <transition name="modal-animation-inner">
                <div class="modal-inner">
                    <slot/>
                </div>
            </transition>
        </div>
    </transition>
</template>

<style scoped>

</style>
