
<template>
    <transition name="modal-animation">
        <div v-if="openModal">
            <transition name="modal-animation-inner">
                <div class="modal-inner">
                    <slot/>
                </div>
            </transition>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "CreateTaskModal",
        props: ["openModal"],
        setup(props, {emit}){
            const close = () => {
                emit("close");
            };
            return {
                close
            };
        },
    }
</script>

<style scoped>

</style>
