<script>
    export default {
        props: {
            pagination: Object,
        },

        computed: {
            pages() {
                let pagesArray = [];
                for (let i = this.pagination.from; i <= this.pagination.to; i++) {
                    pagesArray.push(i);
                }
                return pagesArray;
            },
        },
    }
</script>

<template>
    <div>
        <ul class="pagination">
            <li :class="{ 'disabled': !pagination.prev_page_url }">
                <a @click.prevent="fetchPage(pagination.prev_page_url)" href="#">Previous</a>
            </li>
            <li v-for="page in pages" :key="page" :class="{ 'active': page === pagination.current_page }">
                <a @click.prevent="fetchPage(pagination.path + '?page=' + page)" href="#">{{ page }}</a>
            </li>
            <li :class="{ 'disabled': !pagination.next_page_url }">
                <a @click.prevent="fetchPage(pagination.next_page_url)" href="#">Next</a>
            </li>
        </ul>
    </div>
</template>

<style scoped>

</style>
