<template>
    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0"> Backlog Tasks</h1>
            <a @click="showCreateTaskModal()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-download fa-sm text-white-50"></i> New Task
            </a>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Backlog Tasks</h6>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table align-middle mb-0 bg-white">
                        <thead class="bg-light">
                        <tr>
                            <th>Assigned To</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th>Due Date</th>
                            <th>Time Estimate</th>
                            <th>Time Spent</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="task in tasks" :key="task.id">
                            <td>
                                <div class="d-flex align-items-center">
                                    <img
                                        src="/img/undraw_profile.svg"
                                        alt=""
                                        style="width: 45px; height: 45px; margin-right: 10px"
                                        class="rounded-circle"
                                    />
                                    <div class="ms-3">
                                        <p class="fw-bold mb-1">{{ task.assignee.name }}</p>
                                        <!--                            <p class="text-muted mb-0">{{task.assignee.email}}</p>-->
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">{{ task.title }}</p>
                                <small :style="{color:task.project?.color}" class="mb-0">{{ task.project?.name }}</small>
                            </td>
                            <td>
                    <span class="badge rounded-pill d-inline p-1"
                          :class="'badge-' +task.status?.color">{{ task.status.name }}</span>
                                <p class="mt-2">
                                    <small class="mb-0 text-muted">Sprint: <strong>{{ task.sprint?.name || 'Not in Sprint' }}</strong></small>
                                </p>

                            </td>
                            <td>
                                <p class="text-muted mb-2"><small>{{ task.due_date }}</small></p>
                                <small class="d-inline"> Priority : <span :class="'text-' +task?.priority?.color">{{ task?.priority?.name }}</span></small>
                            </td>
                            <td>
                                <p class="text-muted mb-0">{{ task.time_estimate }}</p>
                            </td>
                            <td>
                                <p class="text-muted mb-0">{{ task.time_spent || '0h' }}</p>
                            </td>
                            <td>
                                <a v-if="task.status_id === 1" @click="updateTaskState(task.id, 2)" class="mr-3" data-toggle="tooltip"
                                   title="In Progress"><i class="fa fa-hourglass fa-1x text-primary"></i></a>
                                <a v-if="task.status_id !== 4" @click="updateTaskState(task.id, 4)" class="mr-3" data-toggle="tooltip"
                                   title="Done"><i
                                    class="fa fa-check-circle text-success "></i></a>
                                <a v-if="task.status_id !== 5 && task.status_id !== 4" @click="updateTaskState(task.id, 5)" data-toggle="tooltip"
                                   title="Delete"><i
                                    class="fas fa-trash text-danger"></i></a>
                                <a @click="showEditTaskModal(task.id)" data-toggle="tooltip"
                                   title="Edit Task"><i
                                    class="fa fa-pen text-primary ml-3"></i>
                                </a>
                                <a @click="logTime(task.id)" data-toggle="tooltip"
                                   title="Log Time"><i
                                    class="fa fa-clock text-primary ml-3"></i>
                                </a>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <CreateTaskModal :openModal="openModal" class="task-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Task</h5>
                <button @click="showCreateTaskModal()" class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="task-form" ref="create-task-form" @submit.prevent="createTask()">
                    <div class="row ml-1">
                        <div class="col-md-12">
                            <label for="">Title</label>
                            <input type="text" v-model="task.title" class="form-control" placeholder=""/>
                        </div>
                        <div class="col-md-12">
                            <label for="">Summary</label>
                            <!--                        <textarea  v-model="run_from" class="form-control" placeholder="From Date"> -->
                            <textarea name="summary" v-model="task.summary" id="" class="form-control" cols="30"
                                      rows="5"></textarea>
                        </div>

                    </div>
                    <div class="row ml-1">

                        <div class="col-md-6">
                            <label for="">Assignee</label>
                            <select class="form-control" v-model="task.assignee">
                                <option v-for="user in users" :key="user.id" :value="user.id">{{user.name}}</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="">Due Date</label>
                            <input type="date" v-model="task.due_date" class="form-control" placeholder="End Date"/>
                        </div>
                    </div>
                    <div class="row ml-1">
                        <div class="col-md-4">
                            <label for="">Priority</label>
                            <select class="form-control" v-model="task.priority">
                                <option value="1">Low</option>
                                <option value="2">Medium</option>
                                <option value="3">High</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="">Time Estimate</label>
                            <input type="text" v-model="task.time_estimate" class="form-control"/>
                        </div>
                        <div class="col-md-4">
                            <label for="">Time Spent</label>
                            <input type="text" v-model="task.time_spent" class="form-control"/>
                        </div>
                        <div class="col-md-6">
                            <label for="">Project</label>
                            <select class="form-control" v-model="task.project">
                                <option v-for="project in projects" :key="project.id" :value="project.id">
                                    {{ project.name }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="">Sprint</label>
                            <select class="form-control" v-model="task.sprint_id">
                                <option :key="sprint.id" :value="sprint.id">
                                    {{ sprint.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-5 float-right">Create Task</button>
                </form>
            </div>
        </div>
    </CreateTaskModal>
    <EditTaskModal :openEditModal="openEditModal" class="task-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit {{taskDetail.title}} Task</h5>
                <button @click="showEditTaskModal(0)" class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="task-form" ref="create-task-form" @submit.prevent="editTask(taskDetail.id)">
                    <div class="row ml-1">
                        <div class="col-md-12">
                            <label for="">Title</label>
                            <input type="text" v-model="taskDetail.title" class="form-control" placeholder=""/>
                        </div>
                        <div class="col-md-12">
                            <label for="">Summary</label>
                            <!--                        <textarea  v-model="run_from" class="form-control" placeholder="From Date"> -->
                            <textarea name="summary" v-model="taskDetail.summary" id="" class="form-control" cols="30"
                                      rows="5"></textarea>
                        </div>

                    </div>
                    <div class="row ml-1">

                        <div class="col-md-6">
                            <label for="">Assignee</label>
                            <select class="form-control" v-model="taskDetail.assignee">
                                <option v-for="user in users" :key="user.id" :value="user.id">{{user.name}}</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label for="">Due Date</label>
                            <input type="date" v-model="taskDetail.due_date" class="form-control" placeholder="End Date"/>
                        </div>
                    </div>
                    <div class="row ml-1">
                        <div class="col-md-4">
                            <label for="">Priority</label>
                            <select class="form-control" v-model="taskDetail.priority_id">
                                <option value="1">Low</option>
                                <option value="2">Medium</option>
                                <option value="3">High</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="">Time Estimate</label>
                            <input type="text" v-model="taskDetail.time_estimate" class="form-control"/>
                        </div>
                        <div class="col-md-4">
                            <label for="">Time Spent</label>
                            <input type="text" v-model="taskDetail.time_spent" class="form-control"/>
                        </div>
                        <div class="col-md-6">
                            <label for="">Project</label>
                            <select class="form-control" v-model="taskDetail.project_id">
                                <option v-for="project in projects" :key="project.id" :value="project.id">
                                    {{ project.name }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="">Sprint</label>
                            <select class="form-control" v-model="taskDetail.sprint_id">
                                <option :key="sprint.id" :value="sprint.id">
                                    {{ sprint.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-5 float-right">Update</button>
                </form>
            </div>
        </div>
    </EditTaskModal>
</template>

<script>
import useTasks from "../../composables/tasks";
import {useRouter} from 'vue-router';
import {onMounted, ref} from 'vue';
import CreateTaskModal from "./modals/CreateTaskModal.vue";
import EditTaskModal from "./modals/EditTaskModal.vue";

export default {
    components: {CreateTaskModal, EditTaskModal},

    setup() {

        const router = useRouter();
        const {tasks, getTasks, createNewTask, updateTaskStatus, projects, getProjects, getUsers, users,
            getTask,taskDetail, updateTask, getActiveSprint, sprint, getBacklogTasks} = useTasks();
        const modalActive = ref(false);
        const openModal = ref(false);
        const openEditModal = ref(false);
        let currentAssignee = null;

        let task = ref({
            title: '',
            summary: null,
            due_date: '',
            time_estimate: '',
            time_spent: '',
            assignee: '',
            project: '',
            priority: '',
            status: '',
            sprint_id: ''
        });

        onMounted(getBacklogTasks);

        const showCreateTaskModal = () => {
            openModal.value = !openModal.value;

            getProjects();
            getUsers();
            // getActiveSprint();
        }

        const showEditTaskModal = (id) => {
            openEditModal.value = !openEditModal.value;
            if(id !== 0) {
                getTask(id);
                getProjects();
                getUsers();
                getActiveSprint();
            }
        }

        const createTask = () => {
            let data = {};

            data.title = task.value.title;
            data.summary = task.value.summary;
            data.due_date = task.value.due_date;
            data.time_estimate = task.value.time_estimate;
            data.assignee = task.value.assignee;
            data.priority = task.value.priority;
            data.project = task.value.project;
            data.sprint_id = task.value.sprint_id;

            createNewTask(data);
            showCreateTaskModal();
            router.go();
        }

        const updateTaskState = (id, status) => {
            let data = {};
            data.id = id;
            data.status = status;

            updateTaskStatus(id, data);
            router.go();
        }

        const editTask = (id) => {
            let data = taskDetail.value;
            updateTask(id, data);

            showEditTaskModal(0);
            router.go();
        }

        const logTime = (id) => {
            showEditTaskModal(id);
        }

        return {
            tasks,
            showCreateTaskModal,
            showEditTaskModal,
            openModal,
            openEditModal,
            modalActive,
            createTask,
            task,
            updateTaskState,
            editTask,
            projects,
            users,
            getTask,
            taskDetail,
            currentAssignee,
            logTime,
            sprint
        }
    }
}
</script>

<style scoped>
.table {
    width: 100%;
}

.task-modal {
    background-color: #16151580;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 70px;
    width: 88%;
    height: 100%;
}

.modal-content {
    left: 24%;
    width: 50%;
}

</style>
