<script>
    import {useRouter} from 'vue-router';
    import {onMounted, ref, watch} from 'vue';
    import useTasks from "../../composables/tasks";
    import useProjects from "../../composables/projects";
    export default {

        setup() {
            const router = useRouter();

            // let taskId = router.currentRoute.value.params.id;
            const {taskDetail, getTask} = useTasks();
            const {getMaterial, material, submitMaterialRequest} = useProjects();

             onMounted(getTask);

            const showMaterialRequestForm = ref(false);
            // const inventory = ref([]);

            const selected_material = ref([
                {
                    id: '',
                    selectedItem : null,
                    supplier: '',
                    code:'',
                    quantity: 0,
                },
            ]);

            let materialRequest = ref([
                {
                    material: ref([]),
                    project_id: null,
                    task_id: null
                }
            ]);

            const showMaterialRequest = () => {
                showMaterialRequestForm.value = !showMaterialRequestForm.value;
            }
            const dismissMaterialRequest = () => {

            }

            const addNewRow = () => {
                console.log("Adding New row")
                selected_material.value.push({
                    id: '',
                    quantity: 0,
                    selectedItem: null,
                    supplier: '',
                    code:'',
                })
            }

            const removeRow = (index) => {
                selected_material.value.splice(index, 1);
                // calculateTotalAmt();
            }

            const getInitials = (name) => {
                let initials = "";

               if(name !== undefined){
                   if(name.includes(' ')){
                       let firstName = name.split(' ')[0];
                       let lastName = name.split(' ')[1];
                       initials = `${firstName.charAt(0)}${lastName.charAt(0)}`;
                   } else {
                       initials = `${name.charAt(0)}`;
                   }

                   return initials.toUpperCase();
               }
            };

            const requestMaterial = () => {
                console.log("Submitting Material");
                materialRequest.material = selected_material.value;
                // console.log(materialRequest.material);
                materialRequest.project_id = taskDetail.value.project_id;
                materialRequest.task_id = taskDetail.value.id;
                console.log(materialRequest);
                submitMaterialRequest(materialRequest);
                router.go();
                materialRequest.material = selected_material.value;
            }

            watch(
                () => selected_material.value.map(item => item.selectedItem),
                (newValues) => {
                    console.log("Watching Material List");
                    console.log(selected_material);

                    console.log("Watching New Values");
                    console.log(newValues);

                    newValues.forEach((newItem, index) => {
                        selected_material.value[index].id = newItem ? newItem.id : 0;
                        // selected_material.value[index].quantity = newItem ? newItem.quantity : 0;
                        //selected_material.value[index].supplier = newItem ? newItem.supplier : '';
                        //selected_material.value[index].code = newItem ? newItem.code : '';
                    });
                },
                { deep: true }
            );

            return {
                getInitials,
                taskDetail,
                selected_material,
                showMaterialRequestForm,
                showMaterialRequest,
                dismissMaterialRequest,
                addNewRow,
                material,
                materialRequest,
                requestMaterial
            }
        }
    }
</script>

<template>
    <a class="btn btn-sm float-right mr-1"
       href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
       style="background: rgb(241, 242, 244);">
        <i class="fas fa-ellipsis-h fa-fw text-dark" style="font-size: 16px;"></i>
    </a>
    <small>Projects  / <span v-if="taskDetail.project && taskDetail.project.name"><i class="fa fa-briefcase text-muted ml-2"></i> {{taskDetail.project.name}}</span> <span v-else><i class="fa fa-pen text-muted ml-2"></i> Add Project</span> /  <i class="fa fa-check-square text-primary ml-1 mr-1"></i>KAM-{{taskDetail.id}}</small>
    <div class="task-container mt-3" style="background: #fff; padding: 20px; border-radius: 20px">
       <small class="ml-2"><i class="fa fa-running"></i> Sprint <span class="badge badge-secondary text-white p-1 ml-2">
           <span v-if="taskDetail.sprint && taskDetail.sprint.name">{{taskDetail.sprint.name}}</span><span v-else>Not in Sprint</span></span> </small>
       <hr>

       <a class="btn btn-sm float-right mr-1" style="background: rgb(241, 242, 244);"><i class="fa fa-trash text-dark"></i></a>
       <a class="btn btn-sm float-right mr-1" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="true" style="background: rgb(241, 242, 244);">
                       <i class="fas fa-ellipsis-h fa-fw text-gray-800" style="font-size: 16px;"></i>
       </a>
       <h3 class="mt-3 ml-2 task-title">
           <i class="fa fa-check-square text-primary mr-1"></i>
           {{taskDetail.title}}

           <span class="badge badge-dot"><i class="bg-danger"></i> <small>Overdue</small></span>

<!--           <select :class="'form-control bg-' +taskDetail.status?.color + ' mb-3 d-block d-md-none d-lg-none'" v-model="taskDetail.status_id"-->
<!--                   style="width: 120px; border: none !important; color: #fff">-->
<!--               <option value="1" class="text-white">To Do</option>-->
<!--               <option value="2" class="text-white">In Progress</option>-->
<!--               <option value="3" class="text-dark">In Review</option>-->
<!--               <option value="4" class="text-white">Done</option>-->
<!--               <option value="5" class="text-white">Overdue</option>-->
<!--           </select>-->
       </h3>

       <div class="row">
           <div class="col-md-7">
               <div class="card mt-1">
                   <div class="card-head ml-3">
                   </div>
                   <div class="card-body md-ml-4 d-ml-0">
                       <p><strong>Summary</strong></p>
                       <p class="text-muted" style="font-weight: 200; font-size: 12px">{{taskDetail.summary}}</p>
                       <hr>
                   </div>

                   <div class="card-body md-ml-4 d-ml-0">
                       <p><strong>Assigned Material</strong>
                           <a @click="showMaterialRequest" class="btn btn-sm mr-1 ml-3" style="background: rgb(241, 242, 244);">
                               <i class="fas fa-plus fa-fw text-gray-800" style="font-size: 16px;"></i> <span class="d-none d-sm-inline-block d-md-inline-block d-lg-inline-block">Add Material</span>
                           </a>
                       </p>

                      <div class="card" v-if="showMaterialRequestForm">
<!--                          <div class="card-head">Assign Material</div>-->
                          <div class="card-body" style="padding: 0px">
                              <form class="estimate-form" ref="estimate-form" @submit.prevent="requestMaterial()" style="border:none; border-radius: 20px;">
                                  <table class="table mt-2 mb-3" style="width: 100%">
                                      <thead>
                                          <tr>
                                              <th style="border: none">Item</th>
                                          </tr>
                                      </thead>
                                      <tbody class="shadow mt-3">
                                          <tr v-for="(inventory, index) in selected_material" :key="inventory.index" style="border-bottom: 1px solid #bbb;">
                                              <td style="width:450px">
<!--                                                  <select v-model="inventory.selectedItem" class="form-control">-->
<!--                                                      <option v-for="item in material" :key="item.id" :value="item">{{item?.name}}</option>-->
<!--                                                  </select>-->
                                                  <div class="row">
                                                     <div class="col-md-5 col-12">
                                                        <div class="form-group">
                                                            <label><small>Product Code / Serial No</small> </label>
                                                            <input type="text" class="form-control" name="code" v-model="inventory.code"/>
                                                        </div>
                                                         <div class="form-group d-block d-md-none d-lg-none">
                                                            <label><small>Quantity</small> </label>
                                                            <input type="text" class="form-control" name="quantity" v-model="inventory.quantity"/>
                                                        </div>
                                                     </div>
                                                      <div class="col-md-7">
                                                          <label><small>Summary</small></label>
                                                         <input type="text" name="selectedItem" v-model="inventory.selectedItem" class="form-control"/>
<!--                                                          <span v-if="!inventory.name">Name is required</span>-->
                                                     </div>
                                                      <div class="col-md-5">
                                                          <div class="form-group">
                                                              <label><small>Supplier</small> </label>
                                                              <input type="text" v-model="inventory.supplier" class="form-control">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </td>
                                              <td>
<!--                                                  <div class="col-12">-->
                                                      <div class="form-group d-none d-md-block d-lg-block">
                                                          <label><small>Qty</small></label>
                                                          <input type="text" class="form-control" placeholder="1" v-model="inventory.quantity" />
                                                      </div>
<!--                                                  </div>-->
                                              </td>
                                          </tr>
                                          <a type="button" class="btn btn-default mt-3" @click="addNewRow"><i class="fas fa-plus"></i> Add Item
                                              Line
                                          </a>
                                      </tbody>
                                  </table>
                              </form>
                          </div>
                          <div class="card-footer" style="background: #fff;border-top: none">
                              <div class="" style="">
                                  <button type="submit" @click="requestMaterial" class="btn btn-primary btn-sm float-right">Assign Material</button>
                                  <a @click="showMaterialRequest" class="btn btn-secondary btn-sm mr-3 float-right">Dismiss</a>
                              </div>
                          </div>
                          <hr>
                      </div>
                       <table class="table align-middle mb-0 mt-4 bg-white d-none d-sm-block d-md-block d-lg-block" style="border-radius: 5px; width: 100%">
                           <thead class="bg-light">
                               <tr>
                                   <th class="bg-light">Name</th>
                                   <th class="bg-light">Description</th>
    <!--                               <th class="bg-light">Serial No</th>-->
                                   <th class="bg-light">Assigned By</th>
                                   <th class="bg-light">Status</th>
    <!--                               <th class="bg-light">Technician</th>-->
                                    <th class="bg-light">Qty</th>
    <!--                               <th v-if="user.role === 'inventory_manager'" class="bg-light"></th>-->
                               </tr>
                           </thead>
                           <tbody>
                               <tr v-for="material in taskDetail.material_requests">
                                   <td>
                                       {{material.item?.name}} <br>
                                       <span class="badge badge-pill bg-secondary"><small class="text-white">{{material.item?.supplier ?? 'N/A'}}</small></span>
                                   </td>
                                   <td><small>{{material.item?.description}}</small></td>
    <!--                               <td>{{material.serial_no}}</td>-->
                                   <td class="">
                                       <small>{{material.user?.name}} </small><br>
                                       <small class="text-muted">{{ new Date(material?.request_date).toISOString().substr(0, 10)}}</small>
                                   </td>

                                   <td class="">
                                       {{material.approved_by?.name ?? 'N/A'}} <br>
                                       <small class="text-muted">{{ new Date(material?.approved_date).toISOString().substr(0, 10)}}</small>
                                        <br>
                                       <span v-if="material.status ===0" class="badge badge-primary">New</span>
                                       <span v-if="material.status ===1" class="badge badge-success">Approved</span>
                                       <span v-if="material.status ===2" class="badge badge-danger">Declined</span>
                                   </td>
                                   <td>{{material.quantity}}</td>
    <!--                               <td v-if="user.role === 'inventory_manager'">-->
    <!--                                   <a class="" @click="setMaterialRequestStatus(material.id, 1)"><i class="fas fa-check-circle text-success"></i></a>-->
    <!--                                   <a class="ml-3" @click="setMaterialRequestStatus(material.id, 2)"><i class="fas fa-thumbs-down text-danger"></i></a>-->
    <!--                               </td>-->
                               </tr>
                           </tbody>
                       </table>
                       <table class="table align-middle mb-0 mt-4 bg-white d-block d-sm-none d-md-none d-lg-none" style="border-radius: 5px; width: 100%">
                           <thead class="bg-light">
                           <tr>
                               <th class="bg-light">Name</th>
                               <th class="bg-light">Description</th>
                               <!--                               <th class="bg-light">Serial No</th>-->
<!--                               <th class="bg-light">Assigned By</th>-->
<!--                               <th class="bg-light">Status</th>-->
                               <!--                               <th class="bg-light">Technician</th>-->
                               <!--                                   <th class="bg-light d-none d-md-block d-lg-block">Issuer</th>-->
                               <th class="bg-light">Qty</th>
                               <!--                               <th v-if="user.role === 'inventory_manager'" class="bg-light"></th>-->
                           </tr>
                           </thead>
                           <tbody>
                           <tr v-for="material in taskDetail.material_requests">
                               <td>
                                   {{material.item?.name}} <br>
                                   <span class="badge badge-pill bg-secondary"><small class="text-white">{{material.item?.supplier ?? 'N/A'}}</small></span>
                               </td>
                               <td>
                                   <small class="text-muted">{{material.item?.description}}</small>
<!--                                    <br>-->
<!--                                   <span v-if="material.status ===0" class="badge badge-primary">New</span>-->
<!--                                   <span v-if="material.status ===1" class="badge badge-success">Approved</span>-->
<!--                                   <span v-if="material.status ===2" class="badge badge-danger">Declined</span>-->
                               </td>
                               <!--                               <td>{{material.serial_no}}</td>-->
<!--                               <td class="">-->
<!--                                   <small>{{material.user?.name}} </small><br>-->
<!--                                   <small class="text-muted">{{ new Date(material?.request_date).toISOString().substr(0, 10)}}</small>-->
<!--                               </td>-->

<!--                               <td class="">-->
<!--                                   {{material.approved_by?.name ?? 'N/A'}} <br>-->
<!--                                   <small class="text-muted">{{ new Date(material?.approved_date).toISOString().substr(0, 10)}}</small>-->
<!--                                   <br>-->
<!--                                   <span v-if="material.status ===0" class="badge badge-primary">New</span>-->
<!--                                   <span v-if="material.status ===1" class="badge badge-success">Approved</span>-->
<!--                                   <span v-if="material.status ===2" class="badge badge-danger">Declined</span>-->
<!--                               </td>-->
                               <td>
                                   {{material.quantity}}
                               </td>
                               <!--                               <td v-if="user.role === 'inventory_manager'">-->
                               <!--                                   <a class="" @click="setMaterialRequestStatus(material.id, 1)"><i class="fas fa-check-circle text-success"></i></a>-->
                               <!--                                   <a class="ml-3" @click="setMaterialRequestStatus(material.id, 2)"><i class="fas fa-thumbs-down text-danger"></i></a>-->
                               <!--                               </td>-->
                           </tr>
                           </tbody>
                       </table>

                       <hr>
                   </div>
               </div>
           </div>
           <div class="col-md-4 offset-sm-1 col-12 offset-0">
               <div class="card">
                   <div class="card-head">
                       <select :class="'form-control bg-' +taskDetail.status?.color + ' mb-3 d-none d-md-block d-lg-block'" v-model="taskDetail.status_id"
                               style="width: 120px; border: none !important; color: #fff">
                           <option value="1" class="text-white">To Do</option>
                           <option value="2" class="text-white">In Progress</option>
                           <option value="3" class="text-dark">In Review</option>
                           <option value="4" class="text-white">Done</option>
                           <option value="5" class="text-white">Overdue</option>
                       </select>
                   </div>
                   <div class="card-body" style="border: 1px solid #f1f2f4; box-shadow: 0px 0px 15px #fff; border-radius: 20px;">
                       <table class="table table-hover p-5" style="width: 100%">
                           <thead>
                               <th style="border: none"></th>
                               <th style="border: none"></th>
                           </thead>
                           <tbody>
                           <tr>
                               <td style="border: none">Priority</td>
                               <td style="border: none"><span class="badge badge-dot"><i :class="'bg-'+taskDetail.priority?.color"></i></span>{{taskDetail.priority?.name}}</td>
                           </tr>
                           <tr>
                               <td style="border: none">Assignee</td>
                               <td style="border: none">
                                   <div class="user-avatar">
                                       <div class="avatar-initials">
                                           {{getInitials(taskDetail?.assignee?.name)}}
                                       </div>
                                   </div>
                                   <span class="ml-2 mt-2">{{taskDetail.assignee?.name}}</span>
                               </td>
                           </tr>
                           <tr>
                               <td style="border: none">Due Date</td>
                               <td style="border: none"> {{taskDetail.due_date}}</td>
                           </tr>
                           <tr>
                               <td style="border: none">Estimated Time</td>
                               <td style="border: none">{{taskDetail.time_estimate ?? '0h'}}</td>
                           </tr>
                           <tr>
                               <td style="border: none">Time Spent</td>
                               <td style="border: none">{{taskDetail.time_spent ?? 0}}h</td>
                           </tr>
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
       </div>
   </div>
</template>

<style scoped>
.user-avatar {
    background: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    color: #fff;
    font-size: 8px
}

@media (max-width: 390px) {
    .task-title {
        font-size: 18px;
    }
}
</style>
