<template>
    <div class="mt-2 mb-6 text-sm text-red-600" v-if="errors !== ''">{{ errors }}</div>
    <form class="invoice-form" ref="invoice-form" @submit.prevent="saveInvoice" style="width: 80%;
    margin-left: 10%;">
        <div class="alert alert-primary alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <i class="fas fa-info-circle fa-2x mr-4"></i>
            <p> Please make sure you have all the necessary required data for an
                invoice.
            </p>
        </div>
        <div class="form-group">
            <div class="row ml-1 mb-2">
                <div class="col-md-6">

                    <label for="" class="required">Customer Name</label>
                    <input class="form-control" v-model="invoice.prospect_id" hidden="">
                    <p><strong>{{invoice.prospect && invoice.prospect.name}}</strong></p>

                    <hr>
                </div>
                <div class="col-md-3">
                    <label for="" >Status</label>
                    <select class="form-control" v-model="invoice.invoice_status_id">
                        <option value="1">Draft</option>
                        <option value="2">New</option>
                        <option value="3">Sent</option>
                        <option value="4">Paid</option>
                        <option value="5">Paid Partly</option>
                        <option value="6">Overdue</option>
                        <option value="7">Cancelled</option>
                        <option value="6">Deleted</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label for="">Expiry Date</label>
                    <input type="date" class="form-control" v-model="invoice.due_date">
                </div>
            </div>
            <div class="row ml-1">
<!--                <div class="col-md-2">-->
<!--                    <label for="">Reference #</label>-->
<!--                    <input type="text" class="form-control" v-model="invoice.reference_no" name="reference" disabled>-->
<!--                </div>-->

            </div>
            <hr>
            <div class="col-md-9 mt-5">
                <label for="">Subject</label>
                <input type="text" class="form-control" placeholder="What is this invoice for" v-model="invoice.subject">
            </div>
        </div>

        <table class="table table-hover p-5 mt-5" style="width: 100%">
            <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Discount</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody class="shadow mt-3">
            <tr v-for="(item, index) in invoice.items" :key="item.index"
                style="border-bottom: 1px solid #bbb;">
                <td style="width:450px">
                    <input type="text" class="form-control" v-model="item.name"/>
                    <br>
                    <textarea name="description" class="form-control" id="" cols="30" rows="4"
                              v-model="item.description">Lorem Ipsum dolor sum irem upsim</textarea>
                </td>
                <td>
                    <input type="text" class="form-control" v-model="item.pivot.quantity" @keyup="calculateTotalAmt">
                </td>
                <td>
                    <input type="text" class="form-control" v-model="item.rate" @keyup="calculateTotalAmt">
                </td>
                <td>
                    <input type="text" class="form-control" v-model="item.pivot.discount" @keyup="calculateTotalAmt">
                </td>
                <td>
                    <input type="text" class="form-control"
                           :value="Number((item.pivot.quantity * item.rate) - ((item.pivot.quantity * item.rate) * (item.pivot.discount / 100)))">
                </td>
                <td>
                    <button class="btn btn-default" @click="removeRow(index)"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
            <button type="button" class="btn btn-default mt-3" @click="addNewRow"><i class="fas fa-plus"></i> Add Item
                Line
            </button>
            <hr>
            </tbody>
        </table>
        <div class="form-group col-md-2 offset-md-10">
            <!--            <label for=""><strong>Total Discount</strong></label>-->

            <!--            <input type="text" class="form-control" :value="invoice.discount">-->
            <label for=""><strong>Total Amount</strong></label>
            <input type="text" class="form-control" :value="amount">
        </div>

        <div class="col-md-6">
            <label for="">Customer Notes</label>
            <textarea name="notes" id="" class="form-control" v-model="invoice.notes" cols="15"
                      rows="10"></textarea>
        </div>

        <div class="col-md-9 mt-5">
            <label for="">Terms and Conditions</label>
            <textarea name="notes" id="" class="form-control" v-model="invoice.terms" cols="5"
                      rows="5"></textarea>
        </div>

        <button type="success" class="btn btn-primary mt-5">Update invoice</button>
    </form>
</template>
<script>
import {onMounted, reactive} from 'vue';
import useinvoices from '../../composables/invoices';
import {computed, ref} from '@vue/reactivity';
import useInvoices from "../../composables/invoices";

export default {

    props: {
        id: {
            required: true,
            type: String
        }
    },

    setup(props) {

        const {errors, invoice, getInvoice, customers, getCustomers, updateInvoice} = useInvoices();
        onMounted(getInvoice);

        let amount = ref();
        let removedItems = ref([]);

        function getAmount () {
            if(localStorage.getItem('invoice')) {
                let quote = JSON.parse(localStorage.getItem('invoice'));
                amount.value = quote.amount;
            }
            return amount;
        }

        const addNewRow = () => {
            invoice.value.items.push({
                name: '',
                description: '',
                rate: 0,
                pivot: {
                    quantity: 0,
                    discount: 0,
                },
                amount: 0
            });
        };

        const removeRow = (index) => {
            addRemovedItems(index);
            invoice.value.items.splice(index, 1);
            calculateTotalAmt();

        };

        function addRemovedItems (index) {
            if(invoice.value.items[index].id > 0 ){
                removedItems.value.push(invoice.value.items[index].id);
            }
        }

        function calculateTotalAmt() {
            amount.value = 0;

            invoice.value.items.forEach((item) => {
                amount.value += Number((item.rate * item.pivot.quantity) - ((item.rate * item.pivot.quantity) * (item.pivot.discount /100)))
            });

            // calculateDiscount()

            return amount;
        }

        // function calculateDiscount() {
        //     discount.value = 0;
        //     invoice.items.forEach((item) => {
        //         discount.value = Number((item.rate * item.quantity) * (item.discount / 100))
        //     });
        //     return discount;
        // }

        const saveInvoice = async () => {
            invoice.value.amount = amount.value;
            invoice.value.itemsRemoved = removedItems.value;

            await updateInvoice(props.id, invoice.value);
        };

        return {

            invoice,
            errors,
            getAmount,
            getInvoice,
            getCustomers,
            customers,
            amount,
            removedItems,
            addNewRow,
            removeRow,
            addRemovedItems,
            calculateTotalAmt,
            saveInvoice,
            updateInvoice
        }
    }

}
</script>

<style>
.invoice-form {
    border: 1px solid #ccc;
    padding: 20px;
    background: #fff;
    box-shadow: 5px 5px 15px #bbb;
    margin-bottom: 20px;
}

.form-control {
    border: none;
    border-bottom: 1px solid #bbb;
}

.form-group label.required :before{
    content:"*";
    color:red;
}
</style>
