<template>
    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0">Payments</h1>
<!--            <a @click="" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">-->
<!--                <i class="fas fa-download fa-sm text-white-50"></i> Record Payment-->
<!--            </a>-->
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Payments</h6>
            </div>
            <div class="card-body">

                <div class="table-responsive">
                    <table class="table align-middle mb-0 bg-white" style="width: 100%">
                        <thead class="bg-light">
                        <tr>
                            <th>Customer</th>
                            <th>Invoice</th>
                            <th>Status</th>
                            <th>Payment Date</th>
                            <th>Amount</th>
                            <th>Balance</th>
                            <th>Captured By</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="payment in payments" :key="payment.id">
                            <td>
                                <div class="d-flex align-items-center">
                                    <img
                                        src="/img/undraw_profile.svg"
                                        alt=""
                                        style="width: 45px; height: 45px; margin-right: 10px"
                                        class="rounded-circle"
                                    />
                                    <div class="ms-3">
                                        <p class="fw-bold mb-1">{{payment?.invoice?.prospect?.business_name ?? 'Not Specified'}}</p>
                                        <small class="text-muted mb-0">{{payment?.invoice?.prospect?.name}}</small>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="fw-normal mb-1">{{ payment.invoice?.subject || 'Not Specified' }}</p>
                                <small class="text-muted mb-0">{{ new Date(payment.created_at).toISOString().substr(0, 10)}}</small>
                            </td>
                            <td>
                    <span class="badge rounded-pill d-inline p-1"
                          :class="'badge-' +payment.invoice?.status?.color">{{ payment?.invoice?.status?.name }}</span>
                            </td>
                            <td>
                                <p class="text-muted mb-0"><small>{{ payment?.payment_date }}</small></p>
                                <span class="badge badge-primary rounded-pill d-inline p-1">{{ payment?.payment_method }}</span>
                            </td>
                            <td>
                                <p class="text-muted mb-0">R {{ payment.amount }}</p>
                            </td>
                            <td>
                                <p class="text-muted mb-0">R {{ payment.amount - payment?.invoice?.amount }}</p>
                            </td>
                            <td>
                                <p class="text-muted mb-0"> {{ payment?.user?.name }}</p>
                            </td>
                            <td>
<!--                                <a v-if="task.status_id === 1" @click="updateTask(task.id, 2)" class="mr-3" data-toggle="tooltip"-->
<!--                                   title="In Progress"><i class="fa fa-hourglass fa-1x text-primary"></i></a>-->
<!--                                <a v-if="task.status_id !== 4" @click="updateTask(task.id, 4)" class="mr-3" data-toggle="tooltip"-->
<!--                                   title="Done"><i-->
<!--                                    class="fa fa-check-circle text-success "></i></a>-->
                              <a @click="removePayment(payment.id)" data-toggle="tooltip"
                                   title="Delete Payment"><i class="fas fa-trash text-danger"></i>
                                </a>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</template>
<script>
import {useRouter} from 'vue-router';
import {onMounted, ref} from 'vue';

import useInvoices from "../../composables/invoices";
export default {
    setup() {
        const router = useRouter();
        const {getPayments, payments,deletePayment} = useInvoices();

        onMounted(getPayments);

        const removePayment = (id) => {
            deletePayment(id);
            router.go();
        }

        return {
            payments,
            removePayment
        }
    }
}
</script>

<style scoped>

</style>
