<template>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Customers</h6>
        </div>
        <div class="card-body">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fas fa-info-circle fa-2x mr-4"></i>
                In our definition, Invoices are issued based on work done for your customers.<br>
                So you can generate Invoices for your customers or accounts.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="table-responsive">
                <table class="table" style="width: 100%;white-space: nowrap">
                    <thead>
                    <tr>
                        <th>Reference</th>
                        <th>Subject</th>
                        <th>Due Date</th>
                        <th>Starting Date</th>
                        <th>Last Date</th>
                        <th>Next Date</th>
                        <th>Amount</th>
                        <th>Actions</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="invoice in invoices" v-bind:key="invoice.id">
                        <td>
                            <span class="text-muted">Invoice-{{invoice.reference_no}}</span> <br>
                            <strong class="p-1">{{invoice.prospect.business_name}}</strong>

                        </td>

                        <td>
                            {{invoice.subject}}
                        </td>
                        <td>
                            <small>{{ new Date(invoice.due_date).toISOString().substr(0, 10) }}</small><br>
                            <span v-if="invoice.invoice_status_id == 1" class="badge badge-default"><small class="text-dark">
                            Draft</small>
                            </span>
                                <span v-if="invoice.invoice_status_id == 2" class="badge badge-primary"><small class="text-white">

                            New</small>
                            </span>
                                <span v-if="invoice.invoice_status_id == 3" class="badge badge-info"><small class="text-dark">

                            Sent</small></span>
                                <span v-if="invoice.invoice_status_id == 4" class="badge badge-success"><small class="text-white">

                            Paid</small>
                            </span>
                                <span v-if="invoice.invoice_status_id == 5" class="badge badge-warning"><small class="text-white">

                            Paid Partially</small>
                            </span>
                                <span v-if="invoice.invoice_status_id == 6" class="badge badge-danger"><small class="text-white">

                            Overdue</small>
                            </span>

                        </td>

                        <td><small class="text-muted">{{ new Date(invoice.run_from).toISOString().substr(0, 10) }}</small></td>
                        <td><small class="text-muted">{{ invoice.last_run ? new Date(invoice.last_run).toISOString().substr(0, 10) : ''}}</small></td>
                        <td><small class="text-muted">{{ new Date(invoice.next_run).toISOString().substr(0, 10)}}</small></td>
                        <td><small class="text-muted"><strong>R {{invoice.amount}}</strong></small></td>
                        <td>

                            <router-link :to="{ name: 'admin.invoices.detail', params: {id: invoice.id} }" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="View invoice"><i class="fas fa-eye text-dark"></i></router-link>
                            <!--                <a v-if="invoice.status.name == 'Draft' || invoice.status.name == 'New'" @click="sent(invoice.id)" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Mark as Sent"><i class="fas fa-envelope mr-2"></i></a>-->
                            <!--                <a v-if="invoice.status.name == 'New' || invoice.status.name == 'Sent'" @click="accepted(invoice.id)" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Deal Accepted"><i class="fas fa-thumbs-up mr-2"></i></a>-->
                            <!--                <a v-if="invoice.status.name !== 'Accepted'" @click="rejected(invoice.id)" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Deal Declined"><i class="fas fa-thumbs-down mr-2"></i></a>-->
                            <!--                <a v-if="invoice.status.name !== 'Accepted'" @click="deleteinvoice(invoice.id)" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Delete invoice"><i class="fas fa-trash mr-2"></i></a>-->
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>

                    <!-- <nav aria-label="Page navigation example float-right">
                        <ul class="pagination">
                            <li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item"><a class="page-link" href="#" @click="fetchinvoices(pagination.prev_page_url)">Previous</a></li>

                            <li class="page-item disabled"><a class="page-link" href="#" @click="fetchinvoices(pagination.prev_page_url)">Page {{pagination.current_page}} of {{pagination.last_page}}</a></li>

                            <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item"><a class="page-link" href="#" @click="fetchinvoices(pagination.next_page_url)">Next</a></li>
                        </ul>
                    </nav> -->
                    </tfoot>
                    <div v-if="invoices.length == 0" class="alert alert-warning" role="alert">
                        You have not made any invoices/Quotes, When you've created them, they will be listed here!
                    </div>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import useInvoices from '../../composables/invoices';
import { onMounted } from 'vue';
export default {
    setup() {
        const {invoices, getRecurringInvoices} = useInvoices()

        onMounted(getRecurringInvoices);
        // const deleteinvoice = async (id) => {
        //
        //     if(!window.confirm('Continue deleting this invoice?')){
        //         return;
        //     }
        //
        //     await destroyinvoice(id);
        //     await getinvoices();
        // }

        // const sent = async (id) => {
        //
        //     await markAsSent(id);
        //     await getinvoices();
        // }

        // const accepted = async (id) => {
        //
        //     await acceptinvoice(id);
        //     await getinvoices();
        // }

        // const rejected = async (id) => {
        //     await rejectinvoice(id);
        //     await getinvoices();
        // }

        return {
            invoices
        }
    },

}
</script>

<style>
a>i {
    color: #989ea5;
}
</style>
