<template>
    <div class="container-fluid">
        <div v-if="invoice.invoice_status_id !== 4" style="width:65%; margin-left: 20%; border: 1px solid #ccc; border-radius: 10px;
     padding: 20px; margin-bottom: 10px; height:100px">
            <div class="row">
                <div class="col-md-2">
                    <img src="/assets/icons/card-payment.png" class="rounded" width="50"/>
                </div>
                <div class="col-md-7">
                    <h3>Payments</h3>
                    <p>Record payments made on this invoice.</p>
                </div>
                <div class="col-md-3">
                    <a @click="showPaymentModal()"
                       class="badge badge-success invoice-download-pdf mt-3 p-2 float-right">
                        <i class="fas fa-money text-white"></i> Record Payment</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 65%; margin-left:20%; margin-top:20px">

            <div class="card-header">
                <a v-if="![3, 4, 5].includes(invoice.invoice_status_id)" @click="updateInvoiceStatus(invoice.id, 3)"
                   class="btn btn-default float-right" data-toggle="tooltip" data-placement="top"
                   title="Mark as Sent"><i class="fas fa-envelope text-info mr-2"></i>
                </a>
                <a v-if="![4, 5].includes(invoice.invoice_status_id)" @click="updateInvoiceStatus(invoice.id, 8)"
                   class="btn btn-default float-right" data-toggle="tooltip" data-placement="top" title="Delete invoice">
                    <i class="fas fa-trash text-danger mr-2"></i>
                </a>

                <a @click="downloadPDF(invoice.id)" target="_blank"
                   class="badge badge-default invoice-convert-pdf ml-3 float-right"> <i class="fas fa-file-pdf"></i>
                    Convert to PDF
                </a>
                <a v-if="invoice.invoice_type !== 2" @click="showModal()"
                   class="invoice-convert-pdf badge badge-info ml-3 float-right text-white"> <i
                    class="fas fa-file-pdf text-white"></i> Convert to Recurring
                </a>

                <span v-if="invoice.status?.id === 1" class="badge badge-pill badge-default p-2 mb-2"> Draft
                    </span>
                <span v-if="invoice.status?.id === 2" class="badge badge-pill badge-primary p-2 mb-2"> New
                    </span>
                <span v-if="invoice.status?.id === 3" class="badge badge-pill badge-info p-2 mb-2"> Sent
                    </span>
                <span v-if="invoice.status?.id === 4" class="badge badge-pill badge-success p-2 mb-2"> Paid
                    </span>
                <span v-if="invoice.status?.id === 5" class="badge badge-pill badge-warning p-2 mb-2"> Paid Partly
                    </span>
                <span v-if="invoice.status?.id === 6" class="badge badge-pill badge-danger p-2 mb-2"> Overdue
                    </span>
                <span v-if="invoice.status?.id === 7" class="badge badge-pill badge-info p-2 mb-2"> Cancelled
                    </span>

                <router-link v-if="![4, 5, undefined].includes(invoice.invoice_status_id)"
                             :to="{ name: 'admin.invoices.edit', params: {id: invoice.id} }"
                             class="badge badge-pill badge-secondary float-right p-2 mb-2"><i class="fas fa-pen"></i>
                    Edit
                </router-link>

                <h5>
                    Invoice <strong>#{{ invoice.reference_no }}</strong>
                </h5>
                <p>
                    <small> <strong>Created on:</strong>
                        <span class="text-muted">{{ new Date(invoice.created_at).toLocaleString() }}</span>
                    </small>
                </p>
                <p>
                    <small> <strong>Expires on:</strong><span
                        class="text-muted">{{ new Date(invoice.due_date).toLocaleString() }}</span></small>
                </p>
                <p><span v-if="invoice.invoice_type === 2" class="badge badge-pill badge-warning p-2 mb-2"> <small>Recurring</small>
                    </span></p>

            </div>

            <div class="card-body">
                <div style="margin-left: 70%">
                    <!--                    <img :src="company.logo_url" width="150">-->
                    <h5 class="mt-4">{{ company.name }}</h5>
                    <p>{{ invoice.user && invoice.user.name }}<br>
                        <span class="text-muted"> {{ company.email }}<br>
                            {{ company.contact_number }}</span>
                    </p>
                </div>
                <div class="">
                    <h5 class="mt-4">Bill to:</h5>
                    <p>{{ invoice.prospect && invoice.prospect.business_name }}<br>
                        <span
                            class="text-muted">{{
                                invoice.prospect && invoice.prospect.name
                            }} <br> {{ invoice.prospect && invoice.prospect.email }}<br>
                            {{ invoice.prospect && invoice.prospect.mobile_no }}
                            </span>
                    </p>
                </div>
                <div class="col-md-5">
                    <!--                    &lt;!&ndash; Status badges &ndash;&gt;-->

                    <!--                    @if ($invoice->status->name == 'Draft')-->


                    <!--                    @endif-->

                    <!--                    @if ($invoice->status->name == 'Sent')-->
                    <!--                    <span class="badge badge-pill badge-primary float-right p-2">{{$invoice->status->name }}</span>-->
                    <!--                    @endif-->

                    <!--                    @if ($invoice->status->name == 'Accepted')-->
                    <!--                    <span class="badge badge-pill badge-success float-right p-2">{{$invoice->status->name }}</span>-->
                    <!--                    @endif-->
                    <!--                    @if ($invoice->status->name == 'Rejected')-->
                    <!--                    <span class="badge badge-pill badge-danger float-right p-2">{{$invoice->status->name }}</span>-->
                    <!--                    @endif-->

                    <h5 class="mt-5"><strong>Invoice for</strong>: {{ invoice.subject }} </h5>
                </div>
                <table class="table table-hover p-5" style="width: 100%">
                    <thead>
                    <tr>

                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Discount</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="item in invoice.items" v-bind:key="item.id">
                        <td><a href="">{{ item.name }}</a> <br>
                            <small class="text-muted">{{ item.description }}</small>
                        </td>
                        <td><small class="text-muted"> {{ item.pivot.quantity }}</small></td>
                        <td><small class="text-muted">{{ item.rate }}</small></td>
                        <td><small class="text-muted">{{ item.pivot.discount }}</small></td>
                        <td><small class="text-muted">{{
                                Number((item.pivot.quantity * item.rate) - ((item.pivot.quantity
                                    * item.rate) * (item.pivot.discount / 100)))
                            }}</small></td>

                    </tr>

                    </tbody>
                </table>
                <hr>
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="" style="margin-left: 80%;">
                        <!--                        <p style="border-bottom: 2px solid"><strong> Discount: </strong> {{ invoice.discount }} %</p>-->
                        <p style="border-bottom: 2px solid"><strong> Amount : </strong> R {{ invoice.amount }}</p>
                        <p v-if="invoice.balance > 0" style="border-bottom: 1px solid"><strong> Balance : </strong>R
                            {{ invoice.balance }}</p>
                    </div>
                    <div class="col-md-6 mt-5">
                        <h5>Notes:</h5>
                        <p class="text-muted"><small>{{ invoice.notes }} </small>
                        </p>
                    </div>

                    <div class="col-md-12">
                        <h5>Terms and conditions:</h5>
                        <p class="text-muted"><small>{{ invoice.terms }}</small></p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <small>Generated using Kamora Software 2023 | Product of Kodeink Group Pty Ltd</small>
            </div>
        </div>
    </div>
    <ConvertInvoiceTypeModal :modalActive="modalActive" class="invoice-modal">
        <div class="modal-content">
            <span @click="showModal()" class="float-right p-2" style="cursor:pointer"><i
                class="fa fa-times-circle float-right"></i></span>
            <h1 class="ml-4">Convert to Recurring Invoice</h1>
            <form class="invoice-form" ref="invoice-converting-form" @submit.prevent="saveInvoiceData(invoice.id)">
                <div class="row ml-1">
                    <div class="col-md-6">
                        <label for="">Start From</label>
                        <input type="date" v-model="run_from" class="form-control" placeholder="From Date"/>
                    </div>
                    <div class="col-md-6">
                        <label for="">End From</label>
                        <input type="date" v-model="run_until" class="form-control" placeholder="End Date"/>
                    </div>
                    <div class="col-md-6">
                        <label for="">Frequency</label>
                        <select class="form-control" v-model="frequency">
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="annually">Annually</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-5 float-right">Save</button>
            </form>
        </div>
    </ConvertInvoiceTypeModal>
    <RecordPaymentModal :openModal="openModal" class="invoice-modal">
        <div class="modal-content">
            <span @click="showPaymentModal()" class="float-right p-2" style="cursor:pointer"><i
                class="fa fa-times-circle float-right"></i></span>
            <h1 class="ml-4">Record Payment</h1>
            <form class="invoice-form" ref="invoice-converting-form" @submit.prevent="recordPayment(invoice.id)">
                <div class="row ml-1">
                    <div class="col-md-6">
                        <label for="">Payment Date</label>
                        <input type="date" v-model="payment.payment_date" class="form-control" placeholder="From Date"/>
                    </div>
                    <div class="col-md-6">
                        <label for="">Amount</label>
                        <input type="text" v-model="payment.payment_amount" class="form-control"/>
                    </div>
                    <div class="col-md-6 pt-2">
                        <label for="">Payment Method</label>
                        <select v-model="payment.payment_method" class="form-control">
                            <option default disabled>Select Method</option>
                            <option value="eft">EFT</option>
                            <option value="cash">Cash</option>
                            <option value="online payment">Online Payment</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-5 float-right">Save</button>
            </form>
        </div>
    </RecordPaymentModal>
</template>

<script>
import useInvoices from "../../composables/invoices";
import {useRouter} from 'vue-router';
import {onMounted, ref} from 'vue';
import ConvertInvoiceTypeModal from "./modals/ConvertInvoiceTypeModal";
import RecordPaymentModal from "./modals/RecordPaymentModal";

export default {
    components: {ConvertInvoiceTypeModal, RecordPaymentModal},

    setup() {
        let run_from = ref();
        let run_until = ref();
        let frequency = ref();
        let payment = ref({
            payment_amount: 0,
            payment_date: null,
            payment_method: ''
        });
        let balance = 0;
        const modalActive = ref(false);
        const openModal = ref(false);

        const router = useRouter();
        const {
            invoice,
            company,
            getUserCompany,
            getInvoice,
            updateStatus,
            updateType,
            updateInvoice,
            processPayment
        } = useInvoices();

        onMounted(getInvoice);

        const calculateBalance = () => {
            console.log("Balance is:" + balance);
        }

        const downloadPDF = (id) => {
            localStorage.setItem('hideConvertBtn', true);
            router.go();
        }

        const getLogo = () => {
            return "" + company.logo_url
        }

        const updateInvoiceStatus = (id, status) => {
            let data = {};
            data.status = status
            if (status == 8) {
                if (!window.confirm('Continue deleting this Invoice?')) {
                    return;
                }
            }
            updateStatus(id, {data})
        }

        const hideConvertPDFBtn = localStorage.getItem('hideConvertBtn');

        const showModal = () => {
            modalActive.value = !modalActive.value;
        }

        const saveInvoiceData = (id) => {

            let data = {}
            data.run_from = run_from.value;
            data.run_until = run_until.value;
            data.frequency = frequency.value;
            data.type = 2;

            updateType(id, {data});

            showModal();
        }

        const showPaymentModal = () => {
            openModal.value = !openModal.value;
        }

        const recordPayment = (id) => {
            let data = {};
            data.invoice_id = id;
            data.payment_date = payment.value.payment_date;
            data.payment_amount = payment.value.payment_amount;
            data.payment_method = payment.value.payment_method;

            processPayment({data});
            showPaymentModal();
        }

        return {
            invoice,
            downloadPDF,
            company,
            getUserCompany,
            hideConvertPDFBtn,
            updateInvoiceStatus,
            modalActive,
            openModal,
            saveInvoiceData,
            showModal,
            showPaymentModal,
            run_from,
            run_until,
            recordPayment,
            payment,
            calculateBalance,
            balance,
            frequency
        }
    }
}
</script>

<style scoped>
.invoice-convert-pdf {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px #ccc;
    cursor: pointer;
}

.edit-invoice-btn {
    margin-left: 50% !important;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px #ccc;
}

.invoice-modal {
    background-color: #16151580;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 70px;
    width: 88%;
    height: 100%;
}

.modal-content {
    left: 24%;
    width: 50%;
}

.card {
    margin-bottom: 20px;
}
</style>
