<script>
    import {onMounted, reactive} from 'vue';
    import useEstimates from '../../composables/estimates';
    import {computed, ref} from '@vue/reactivity';
    import {useRouter} from 'vue-router';
    import {watch} from "vue";
    export default {
        setup() {
            const {errors, items, customers, getCustomers, storeEstimate, getItems} = useEstimates();
            onMounted(getCustomers(), getItems());

            const router = useRouter();

            let path = window.location.pathname;
            let model = path.substring(path.lastIndexOf('/') + 1)

            let estimate_items = ref([
                {
                    id: '',
                    name: '',
                    selectedItem: null,
                    description: '',
                    rate: 0,
                    quantity: 0,
                    discount: 0,
                    amount: 0,
                },
            ])
            let amount = ref(0);
            let discount = ref(0);

            const estimate = reactive({
                items: ref([]),
                reference_no: '',
                subject: '',
                discount: 0,
                amount: 0,
                terms: '',
                notes: '',
                created_by: '',
            });

            const addNewRow = () => {
                estimate_items.value.push({
                    id: '',
                    name: '',
                    description: '',
                    rate: 0,
                    quantity: 0,
                    discount: 0,
                    amount: 0,
                    selectedItem: null,
                })
            }

            const removeRow = (index) => {
                estimate_items.value.splice(index, 1);
                calculateTotalAmt();
            }

            const saveEstimate = async () => {
                estimate.items = estimate_items;
                estimate.discount = discount;
                estimate.amount = amount;
                estimate.estimate_status_id = 2;

                await storeEstimate({estimate}, model);
                router.go(-1);
                router.go();
            };

            function calculateTotalAmt() {
                amount.value = 0;
                estimate_items.value.forEach((item) => {
                    amount.value += Number((item.rate * item.quantity) - ((item.rate * item.quantity) * item.discount) / 100)
                });

                return amount;
            }

            // function calculateDiscount() {
            //
            //     estimate_items.value.forEach((item) => {
            //         discount.value = Number((item.rate * item.quantity) * (item.discount / 100))
            //     });
            //
            //     console.log(discount);
            //     return discount;
            // }

            watch(
                () => estimate_items.value.map(item => item.selectedItem),
                (newValues) => {
                    newValues.forEach((newItem, index) => {
                        estimate_items.value[index].description = newItem ? newItem.description : '';
                        estimate_items.value[index].rate = newItem ? newItem.rate : 0;
                        estimate_items.value[index].name = newItem ? newItem.name : '';
                    });
                },
                { deep: true }
            );

            return {
                items,
                estimate,
                errors,
                addNewRow,
                removeRow,
                saveEstimate,
                // getItems,
                getCustomers,
                estimate_items,
                customers,
                computed,
                calculateTotalAmt,
                amount,
                discount,
                model,
            }
        },
    }
</script>

<template>
    <div class="mt-2 mb-6 text-sm text-red-600" v-if="errors !== ''">{{ errors }}</div>
    <form class="estimate-form" ref="estimate-form" @submit.prevent="saveEstimate" style="width: 80%;
    margin-left: 10%;">
        <div v-if="model == 'estimate'" class="alert alert-primary alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <i class="fas fa-info-circle fa-2x mr-4"></i>
            <p> Please make sure you have added the contact you want to create an estimate / quote for before creating
                an
                estimate. <br>You can add them as Prospects if they are new, or Accounts if they are returning
                customers.
            </p>
        </div>
        <div v-else class="alert alert-primary alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <i class="fas fa-info-circle fa-2x mr-4"></i>
            <p> Please make sure you have added the customer you want Invoice for before creating
                the Invoice.
            </p>
        </div>

        <div class="form-group">
            <div class="row ml-1 mb-2">
                <div class="col-md-6">
                    <label for="" class="required">Select customer</label>
                    <select id="" v-model="estimate.prospect_id" class="form-control">
                        <option value="0" selected disabled>Select Customer</option>
                        <option v-for="customer in customers" :key="customer.id" name="prospect" :value="customer.id">
                            {{ customer.name }}
                        </option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label for="">Expiry Date</label>
                    <input type="date" class="form-control" v-model="estimate.expiry_date">
                </div>
                <div class="col-md-3">
                    <label for="" hidden>Status</label>
                    <select class="form-control" v-model="estimate.estimate_status_id" hidden>
                        <option value="1" default selected>Draft</option>
                        <option value="2">New</option>
                        <option value="3">Sent</option>
                        <option value="4">Accepted</option>
                        <option value="5">Rejected</option>
                        <option value="6">On Hold</option>
                    </select>
                </div>
            </div>
            <div class="row ml-1">
<!--                <div class="col-md-2">-->
<!--                    <label for="">Reference #</label>-->
<!--                    <input type="text" class="form-control" v-model="estimate.reference_no" placeholder="#001"-->
<!--                           name="reference">-->
<!--                </div>-->

            </div>
            <hr class="shadow">
            <div class="col-md-10 mt-5">
                <label for="">Subject</label>
                <input type="text" class="form-control" placeholder="What is this Estimate for"
                       v-model="estimate.subject">
            </div>
        </div>

        <table class="table table-hover p-5 mt-5" style="width: 100%">
            <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Discount %</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody class="shadow mt-3">
            <tr v-for="(estimate_item, index) in estimate_items" :key="estimate_item.index"
                style="border-bottom: 1px solid #bbb;">
                <td style="width:450px">

<!--                    <select v-model="estimate_item.name" class="form-control">-->
<!--                        <option v-for="item in items" :key="item.id" :value="item">{{item.name}}</option>-->
<!--                    </select>-->

                    <select v-model="estimate_item.selectedItem" class="form-control">
                        <option v-for="option in items" :key="option.id" :value="option">{{ option.name }}</option>
                    </select>

                    <input type="text" v-model="estimate_item.name" hidden=""/>

<!--                    <input type="text" class="form-control" v-model="estimate_item.name" :value="curItem?.name"/>-->
                    <br>
                    <textarea name="description" class="form-control" id="" cols="30" rows="4"
                              v-model="estimate_item.description"></textarea>
                </td>
                <td>
                    <input type="text" class="form-control" v-model="estimate_item.quantity" placeholder="1">
                </td>
                <td>
                    <input type="text" class="form-control" v-model="estimate_item.rate" placeholder="R 999"
                           @keyup="calculateTotalAmt">
                </td>
                <td>
                    <input type="text" class="form-control" v-model="estimate_item.discount" placeholder="0%"
                           @keyup="calculateTotalAmt">
                </td>
                <td>
                    <input type="text" class="form-control" :value="Number((estimate_item.quantity * estimate_item.rate) -
                            ((estimate_item.quantity * estimate_item.rate) * (estimate_item.discount / 100)))" disabled>
                </td>
                <td>
                    <button class="btn btn-default" @click="removeRow(index)"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
            <button type="button" class="btn btn-default mt-3" @click="addNewRow"><i class="fas fa-plus"></i> Add Item
                Line
            </button>
            <hr>
            </tbody>
        </table>
        <div class="form-group col-md-2 offset-md-10">
<!--            <label for=""><strong>Total Discount</strong></label>-->
<!--            <span class="cur-discount-sign text-muted"><strong>R</strong></span>-->
<!--            <input type="text" class="form-control" :value="discount">-->

            <label for=""><strong>Total Amount</strong></label>
            <span class="cur-amount-sign text-muted"><strong>R</strong></span>
            <input type="text" class="form-control" :value="amount">

        </div>

        <div class="col-md-9">
            <label for="">Customer Notes</label>
            <textarea name="notes" id="" class="form-control" v-model="estimate.notes" cols="15"
                      rows="10">Start typing</textarea>
        </div>

        <div class="col-md-9 mt-5">
            <label for="">Terms and Conditions</label>
            <textarea name="notes" id="" class="form-control" v-model="estimate.terms" cols="5"
                      rows="5">Start typing</textarea>
        </div>

        <button type="success" class="btn btn-primary mt-5">Save</button>
    </form>
</template>

<style>
.estimate-form {
    border: 1px solid #ccc;
    padding: 20px;
    background: #fff;
    box-shadow: 5px 5px 15px #bbb;
    margin-bottom: 20px;
}

.form-control {
    border: none;
    border-bottom: 1px solid #bbb;
}

.form-group label.required :before {
    content: "*";
    color: red;
}
.cur-discount-sign {
    margin-top: 38px;
    float: left;
    position: absolute;
    margin-left: -100px;
}
.cur-amount-sign {
    margin-top: 38px;
    float: left;
    position: absolute;
    margin-left: -95px;
}
</style>
