<template>
    <div class="mt-2 mb-6 text-sm text-red-600" v-if="errors !== ''">{{ errors }}</div>
    <form class="estimate-form" ref="estimate-form" @submit.prevent="saveEstimate" style="width: 80%;
    margin-left: 10%;">
        <div class="alert alert-primary alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <i class="fas fa-info-circle fa-2x mr-4"></i>
            <p> Please make sure you have added the contact you want to create an estimate / quote for before creating an
                estimate. <br>You can add them as Prospects if they are new, or Accounts if they are returning customers.
            </p>
        </div>
        <div class="form-group">
            <div class="row ml-1 mb-2">
                <div class="col-md-4">

                    <label for="" class="required">Customer Name</label>
                    <input class="form-control" v-model="estimate.prospect_id" hidden="">
                    <p><strong>{{estimate.prospect && estimate.prospect.name}}</strong></p>

                    <hr>
                </div>
                <div class="col-md-2">
                    <label for="" hidden>Status</label>
                    <select class="form-control" v-model="estimate.estimate_status_id" hidden>
                        <option value="1" default selected>Draft</option>
                        <option value="2">New</option>
                        <option value="3">Sent</option>
                        <option value="4">Accepted</option>
                        <option value="5">Rejected</option>
                        <option value="6">On Hold</option>
                    </select>
                </div>
            </div>
            <div class="row ml-1">
                <div class="col-md-2">
                    <label for="">Reference #</label>
                    <input type="text" class="form-control" v-model="estimate.reference_no" name="reference" disabled>
                </div>
                <div class="col-sm-3">
                    <label for="">Expiry Date</label>
                    <input type="date" class="form-control" v-model="estimate.expiry_date">
                </div>
            </div>
            <hr>
            <div class="col-md-6 mt-5">
                <label for="">Subject</label>
                <input type="text" class="form-control" placeholder="What is this Estimate for"
                       v-model="estimate.subject">
            </div>
        </div>

        <table class="table table-hover p-5 mt-5">
            <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Discount</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody class="shadow mt-3">
            <tr v-for="(item, index) in estimate.items" :key="item.index"
                style="border-bottom: 1px solid #bbb;">
                <td style="width:450px">
                    <input type="text" class="form-control" v-model="item.name"/>
                    <br>
                    <textarea name="description" class="form-control" id="" cols="30" rows="4"
                              v-model="item.description">Lorem Ipsum dolor sum irem upsim</textarea>
                </td>
                <td>
                    <input type="text" class="form-control" v-model="item.pivot.quantity" @keyup="calculateTotalAmt">
                </td>
                <td>
                    <input type="text" class="form-control" v-model="item.rate" @keyup="calculateTotalAmt">
                </td>
                <td>
                    <input type="text" class="form-control" v-model="item.pivot.discount" @keyup="calculateTotalAmt">
                </td>
                <td>
                    <input type="text" class="form-control"
                           :value="Number((item.pivot.quantity * item.rate) - ((item.pivot.quantity * item.rate) * (item.pivot.discount / 100)))">
                </td>
                <td>
                    <button class="btn btn-default" @click="removeRow(index)"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
            <button type="button" class="btn btn-default mt-3" @click="addNewRow"><i class="fas fa-plus"></i> Add Item
                Line
            </button>
            <hr>
            </tbody>
        </table>
        <div class="form-group col-md-2 offset-md-10">
<!--            <label for=""><strong>Total Discount</strong></label>-->

<!--            <input type="text" class="form-control" :value="estimate.discount">-->
            <label for=""><strong>Total Amount</strong></label>
            <input type="text" class="form-control" :value="amount">
        </div>

        <div class="col-md-6">
            <label for="">Customer Notes</label>
            <textarea name="notes" id="" class="form-control" v-model="estimate.notes" cols="15"
                      rows="10"></textarea>
        </div>

        <div class="col-md-9 mt-5">
            <label for="">Terms and Conditions</label>
            <textarea name="notes" id="" class="form-control" v-model="estimate.terms" cols="5"
                      rows="5"></textarea>
        </div>

        <button type="success" class="btn btn-primary mt-5">Update Estimate</button>
    </form>
</template>
<script>
import {onMounted, reactive} from 'vue';
import useEstimates from '../../composables/estimates';
import {computed, ref} from '@vue/reactivity';

export default {

    props: {
      id: {
          required: true,
          type: String
      }
    },

    setup(props) {
        /**
         * Get Estimate [x]
         * Show estimate on form [x]
         *      Show prospect or customer [x]
         *      Show estimate items [x]
         *      Show estimate discount [x]
         *      Show estimate amount [x]
         *      Show estimate notes [x]
         *      Show estimate terms [x]
         *
         * Edit Estimate []
         *      Edit estimate endpoint [x]
         *      Update discount []
         *      Update Amount [x]
         *      Add new row []
         *      Remove row []
         *      Update item [x]
         *
         * */

        const {errors, estimate, getEstimate, customers, getCustomers, updateEstimate} = useEstimates();
        onMounted([getEstimate, getAmount]);

        let path = window.location.pathname;
        let model = path.substring(path.lastIndexOf('/') + 1)

        let amount = ref();
        let removedItems = ref([]);

        function getAmount () {
            if(localStorage.getItem('estimate')) {
                let quote = JSON.parse(localStorage.getItem('estimate'));
                amount.value = quote.amount;
            }
            return amount;
        }

        const addNewRow = () => {
            estimate.value.items.push({
                name: '',
                description: '',
                rate: 0,
                pivot: {
                    quantity: 0,
                    discount: 0,
                },
                amount: 0
            });
        };

        const removeRow = (index) => {
            addRemovedItems(index);
            estimate.value.items.splice(index, 1);
            calculateTotalAmt();

        };

        function addRemovedItems (index) {
            if(estimate.value.items[index].id > 0 ){
                removedItems.value.push(estimate.value.items[index].id);
            }
        }

        function calculateTotalAmt() {
            amount.value = 0;

            estimate.value.items.forEach((item) => {
                amount.value += Number((item.rate * item.pivot.quantity) - ((item.rate * item.pivot.quantity) * (item.pivot.discount /100)))
            });

            // calculateDiscount()

            return amount;
        }

        // function calculateDiscount() {
        //     discount.value = 0;
        //     estimate.items.forEach((item) => {
        //         discount.value = Number((item.rate * item.quantity) * (item.discount / 100))
        //     });
        //     return discount;
        // }

        const saveEstimate = async () => {
            estimate.value.amount = amount.value;
            estimate.value.itemsRemoved = removedItems.value;
           await updateEstimate(props.id);
        };

        return {

            estimate,
            errors,
            getAmount,
            getEstimate,
            getCustomers,
            customers,
            amount,
            removedItems,
            addNewRow,
            removeRow,
            addRemovedItems,
            calculateTotalAmt,
            saveEstimate,
            updateEstimate,
            model
        }
    }

}
</script>

<style>
.estimate-form {
    border: 1px solid #ccc;
    padding: 20px;
    background: #fff;
    box-shadow: 5px 5px 15px #bbb;
    margin-bottom: 20px;
}

.form-control {
    border: none;
    border-bottom: 1px solid #bbb;
}

.form-group label.required :before{
    content:"*";
    color:red;
}
</style>
