<template>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Estimates/Quotations</h6>
        </div>
        <div class="card-body">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fas fa-info-circle fa-2x mr-4"></i>
                In our definition, Estimates are quotations that you create and send to your potential customers.<br>
                So you can generate Estimates for your prospects and accounts.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="table-responsive">
                <table class="table" style="width: 100%">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Ref #</th>
                        <th>Subject</th>
                        <th>Contact Name</th>
        <!--                <th>Status</th>-->
                        <th>Created On</th>
                        <th>Expires On</th>
                        <th>Amount</th>
        <!--                <th>Actions</th>-->
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="estimate in estimates" v-bind:key="estimate.id">
                        <td><span class="badge badge-pill badge-primary p-2"><i class="fas fa-file"></i></span></td>
                        <td>
                            <router-link :to="{ name: 'admin.estimates.detail', params: {id: estimate.id} }"
                                         class="btn rounded-circle" data-toggle="tooltip" data-placement="top"
                                         title="View Estimate">{{ estimate.reference_no }}
                            </router-link>
                        </td>
                        <td>
                            <router-link :to="{ name: 'admin.estimates.detail', params: {id: estimate.id} }"
                                         class="btn rounded-circle" data-toggle="tooltip" data-placement="top"
                                         title="View Estimate">{{ estimate.subject }}
                            </router-link>
                        </td>
                        <td>
                            <p class="text-muted">{{ estimate.prospect.business_name }}</p>
                            <span class="badge rounded-pill d-inline" :class="'badge-' +estimate?.status?.color">{{estimate?.status?.name}}</span>
                        </td>
                                <!--                <td>-->
        <!--                    <span v-if="estimate.status.name === 'Draft'" class="badge bg-default">-->
        <!--                        <small>{{ estimate.status.name }}</small>-->
        <!--                    </span>-->
        <!--                    <span v-if="estimate.status.name === 'New'" class="badge bg-primary">-->
        <!--                                <small class="text-white">{{ estimate.status?.name }}</small>-->
        <!--                            </span>-->
        <!--                    <span v-if="estimate.status.name === 'Sent'" class="badge bg-warning">-->
        <!--                                <small class="text-muted">{{ estimate.status?.name }}</small>-->
        <!--                            </span>-->
        <!--                    <span v-if="estimate.status.name === 'Overdue'" class="badge bg-danger">-->
        <!--                                <small class="text-white">{{ estimate.status?.name }}</small>-->
        <!--                            </span>-->
        <!--                    <span v-if="estimate.status.name === 'Accepted'" class="badge bg-success">-->
        <!--                                <small class="text-white">{{ estimate.status?.name }}</small>-->
        <!--                            </span>-->
        <!--                    <span v-if="estimate.status.name === 'Converted'" class="badge bg-info">-->
        <!--                                <small class="text-white">{{ estimate.status?.name }}</small>-->
        <!--                            </span>-->
        <!--                </td>-->
                        <td><small class="text-muted">{{ new Date(estimate.created_at).toISOString().substr(0, 10) }}</small>
                        </td>
                        <td><small class="text-danger">{{ new Date(estimate.expiry_date).toISOString().substr(0, 10) }}</small>
                        </td>
                        <td><small class="text-dark"><strong>R {{ estimate.amount }}</strong></small></td>
                        <td>
                            <router-link :to="{ name: 'admin.estimates.detail', params: {id: estimate.id} }"
                                         class="btn rounded-circle" data-toggle="tooltip" data-placement="top"
                                         title="View Estimate"><i class="fas fa-eye text-primary"></i></router-link>
        <!--                    <a v-if="estimate.status.name === 'Draft' || estimate.status.name === 'New'"-->
        <!--                       @click="sent(estimate.id)" class="btn rounded-circle" data-toggle="tooltip" data-placement="top"-->
        <!--                       title="Mark as Sent"><i class="fas fa-envelope text-dark"></i>-->
        <!--                    </a>-->
                            <a v-if="estimate.status.name === 'New' || estimate.status.name === 'Sent'"
                               @click="accepted(estimate.id)" class="btn rounded-circle" data-toggle="tooltip"
                               data-placement="top" title="Deal Accepted"><i class="fas fa-thumbs-up text-dark"></i>
                            </a>
                            <a v-if="estimate.status.name !== 'Accepted' && estimate.status.name !== 'Converted'"
                               @click="rejected(estimate.id)" class="btn rounded-circle" data-toggle="tooltip"
                               data-placement="top" title="Deal Declined"><i class="fas fa-thumbs-down text-dark"></i>
                            </a>
                            <a v-if="estimate.status.name !== 'Accepted' && estimate.status.name !== 'Converted'"
                               @click="deleteEstimate(estimate.id)" class="btn rounded-circle" data-toggle="tooltip"
                               data-placement="top" title="Delete Estimate"><i class="fas fa-trash text-danger"></i>
                            </a>
                            <a v-if="estimate.status.name === 'Accepted'" @click="convertToInvoice(estimate.id)"
                               class="btn rounded-circle" data-toggle="tooltip" data-placement="top" title="Convert to Invoice"><i
                                class="fas fa-check text-dark"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>

                    <!-- <nav aria-label="Page navigation example float-right">
                        <ul class="pagination">
                            <li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item"><a class="page-link" href="#" @click="fetchEstimates(pagination.prev_page_url)">Previous</a></li>

                            <li class="page-item disabled"><a class="page-link" href="#" @click="fetchEstimates(pagination.prev_page_url)">Page {{pagination.current_page}} of {{pagination.last_page}}</a></li>

                            <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item"><a class="page-link" href="#" @click="fetchEstimates(pagination.next_page_url)">Next</a></li>
                        </ul>
                    </nav> -->
                    </tfoot>
                    <div v-if="estimates.length == 0" class="alert alert-warning" role="alert">
                        You have not made any Estimates/Quotes, When you've created them, they will be listed here!
                    </div>
        </table>
            </div>
        </div>
    </div>
</template>

<script>
import useEstimates from '../../composables/estimates';
import {onMounted, reactive} from 'vue';
import {useRouter} from 'vue-router';
import {ref} from "@vue/reactivity";

export default {
    setup() {
        const router = useRouter();
        const {
            estimates,
            getEstimates,
            destroyEstimate,
            getEstimate,
            markAsSent,
            acceptEstimate,
            rejectEstimate,
            storeEstimate,
            convertEstimate
        } = useEstimates()

        onMounted(getEstimates);

        const invoice = {
            items: [],
            reference_no: '',
            subject: '',
            discount: 0,
            amount: 0,
            terms: '',
            notes: '',
            created_by: '',
            prospect_id: '',
        };

        const viewEstimate = (id) => {
            router.go(('estimates.show' , [id]));
            //getEstimate(id);
        }
        const deleteEstimate = async (id) => {

            if (!window.confirm('Continue deleting this estimate?')) {
                return;
            }

            await destroyEstimate(id);
            await getEstimates();
        }

        const sent = async (id) => {

            await markAsSent(id);
            await getEstimates();
        }

        const accepted = async (id) => {

            await acceptEstimate(id);
            await getEstimates();
        }

        const rejected = async (id) => {
            await rejectEstimate(id);
            await getEstimates();
        }

        const convertToInvoice = async (id) => {
            await getEstimate(id);
            let estimate = localStorage.getItem('estimate')

            estimate = JSON.parse(estimate);

            invoice.items = estimate.items;
            invoice.discount = estimate.discount;
            invoice.amount = estimate.amount;
            invoice.estimate_status_id = 3; // status Should be set to sent
            invoice.subject = estimate.subject;
            invoice.terms = estimate.terms;
            invoice.notes = estimate.notes;
            invoice.expiry_date = estimate.expiry_date
            invoice.prospect_id = estimate.prospect_id
            invoice.estimate_id = estimate.id

            await storeEstimate({invoice}, 'invoice');
            estimate.estimate_id = 5;

            await convertEstimate(estimate.id)
            await getEstimates();
        }

        return {
            estimates, deleteEstimate, getEstimate, sent, accepted, rejected, convertToInvoice, viewEstimate
        }
    },

}
</script>

<style>
a > i {
    color: #989ea5;
}

.estimate-primary-actions {
    height: 30px;
    width: 30px;
    padding: 0px;
    background: #556ee6
}

.estimate-default-actions {
    height: 30px;
    width: 30px;
    padding: 0px;
    background: #bbb;
}

</style>
