<template>
    <div class="container-fluid">

        <div class="card" style="width: 75%; margin-left:15%; margin-top:20px">
            <div class="card-header">
                <a @click="downloadPDF" target="_blank" class="estimate-convert-pdf ml-3 float-right">
                    <i class="fas fa-file-pdf"></i> Convert to PDF
                </a>

                <span v-if="estimate.status?.id === 1" class="badge badge-pill badge-default p-2 mb-2"> Draft
                    </span>
                <span v-if="estimate.status?.id === 2" class="badge badge-pill badge-primary p-2 mb-2"> New
                    </span>
                <span v-if="estimate.status?.id === 3" class="badge badge-pill badge-success p-2 mb-2"> Sent
                    </span>
                <span v-if="estimate.status?.id === 4" class="badge badge-pill badge-danger p-2 mb-2"> Expired
                    </span>
                <span v-if="estimate.status?.id === 5" class="badge badge-pill badge-info p-2 mb-2"> Cancelled
                    </span>
                <span v-if="estimate.status?.id === 6" class="badge badge-pill badge-danger p-2 mb-2"> Deleted
                    </span>

                <router-link v-if="estimate.id !== undefined"
                             :to="{ name: 'admin.estimates.edit', params: {id: estimate.id} }"
                             class="badge badge-pill badge-secondary float-right p-2 mb-2"><i class="fas fa-pen"></i> Edit
                </router-link>


                <h5 style="padding-top:12px">Estimate <strong>#{{ estimate.reference_no }}</strong></h5>
                <p><small> <strong>Created on:</strong> <span
                    class="text-muted">{{ new Date(estimate.created_at).toLocaleString() }}</span>
                </small></p>
                <p><small> <strong>Expires on:</strong> <span
                    class="text-muted">{{ new Date(estimate.expiry_date).toLocaleString() }}</span>
                </small></p>

            </div>
            <div class="card-body">
                <div style="margin-left: 70%">
                    <!--                    <img :src="company.logo_url" width="150">-->
                    <h5 class="mt-4">{{ company.name }}</h5>
                    <p>{{ estimate.user && estimate.user.name }}<br>
                        <span class="text-muted"> {{ company.email }}<br>
                            {{ company.contact_number }}</span>
                    </p>
                </div>
                <div class="">
                    <h5 class="mt-4">Bill to:</h5>
                    <p>{{ estimate.prospect && estimate.prospect.business_name }}<br>
                        <span
                            class="text-muted">{{ estimate.prospect && estimate.prospect.name }}
                            <br> {{ estimate.prospect && estimate.prospect.email }}<br>
                            {{ estimate.prospect && estimate.prospect.mobile_no }}
                            </span>
                    </p>
                </div>
                <div class="col-md-5">
                    <h5 class="mt-5"><strong>Estimate</strong>: {{ estimate.subject }} </h5>
                </div>

                <table class="table table-hover p-5">
                    <thead>
                    <tr>

                        <th>Item Name</th>
                        <th>Quantity</th>
                        <th>Rate</th>
                        <th>Discount</th>
                        <th>Amount</th>


                    </tr>
                    </thead>
                    <tbody>


                    <tr v-for="item in estimate.items" v-bind:key="item.id">
                        <td><a href="">{{ item.name }}</a> <br>
                            <small class="text-muted">{{ item.description }}</small>
                        </td>
                        <td><small class="text-muted"> {{ item.pivot.quantity }}</small></td>
                        <td><small class="text-muted">{{ item.rate }}</small></td>
                        <td><small class="text-muted">{{ item.pivot.discount }}</small></td>
                        <td><small class="text-muted">{{
                                Number((item.pivot.quantity * item.rate) - ((item.pivot.quantity
                                    * item.rate) * (item.pivot.discount / 100)))
                            }}</small></td>

                    </tr>

                    </tbody>
                </table>
                <hr>
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="" style="margin-left: 84%;">
<!--                        <p style="border-bottom: 2px solid"><strong> Discount: </strong> {{ estimate.discount }} %</p>-->
                        <p style="border-bottom: 2px solid"><strong> Amount : </strong> R {{ estimate.amount }}</p>
                    </div>
                    <div class="col-md-6 mt-5">
                        <h5>Notes:</h5>
                        <p class="text-muted"><small>{{ estimate.notes }} </small>
                        </p>
                    </div>

                    <div class="col-md-12">
                        <h5>Terms and conditions:</h5>
                        <p class="text-muted"><small>{{ estimate.terms }}</small></p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <small>Generated using Kamora Software 2024  | Product of Kodeink Group Pty Ltd</small>
            </div>
        </div>
    </div>

</template>

<script>
import useEstimates from '../../composables/estimates';
import {useRouter} from 'vue-router';
import {onMounted} from 'vue';
import {computed} from "@vue/reactivity";

export default {

    setup() {
        const router = useRouter();
        const {estimate, company, getUserCompany, getEstimate} = useEstimates();
        onMounted(getEstimate);

        const downloadPDF = () => {
            router.go();
        }

        const getLogo = () => {
            return "" + company.logo_url
        }

        const editEstimate = (id) => {
            router.push({name: 'admin.estimates.edit', params: {id: id}});
        }

        return {
            estimate,
            editEstimate,
            downloadPDF,
            company,
            getUserCompany
        }
    }
}
</script>

<style scoped>
.estimate-convert-pdf {
    margin-left: 75% !important;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px #ccc;
    cursor: pointer;
}

.edit-estimate-btn {
    margin-left: 50% !important;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px #ccc;
}

.card {
    margin-bottom: 20px;
}
</style>
